.container-fluid{
    background-color: #4F8BB0;

}
.navbarli a, .navbar .navbar-brand {
    color: white !important;
}



.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
}
.collapse ul li a {
    color: white;
}

nav a:visited,.navbar-nav{
    color: white;
}

.navbar-inverse  {
    border-color: transparent;
    color: red !important;
}
.logo{
    float: left;
    width: 50px;
    
    
}






.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  color: black;
}